[Desktop Entry]
Type=Application
Name=Backup
Comment=Keep your files safe in the cloud, encrypted
Comment[it]=Metti al sicuro i tuoi file nel cloud, cifrati
Exec=live-backup
Icon=folder-remote
Categories=GTK;GNOME;Utility;Archiving;
Keywords=backup;restore;restic;cloud;
Keywords[it]=backup;ripristino;restic;cloud;salvataggio;
StartupNotify=true
